@charset "UTF-8";
/* css/src/b_02_practice.css */

.ex_part {
  width: 900px; height: 900px;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
}
/* -------------------------- */

.box_01 { 
  width: 600px; height: 600px;
  margin:auto;
  background-color: #95d6a4;
  border-width: 10px;
  border-style: solid;
  border-color: #95d6a4;
}

.box_01 > div {
  width: 100%; height: 200px;
}

.inner_01 {background-color: #456ea2;}
.inner_02 {background-color: #fff9eb;}
.inner_03 {background-color: #ffcf5d;}
/* ------------------------------- */

.box_02 { 
  width: 600px; height: 600px;
  margin:auto;
  background-color: #95d6a4;
  border-width: 10px;
  border-style: solid;
  border-color: #95d6a4;
}

.box_02 > div {
  float: left;
  width: 200px; height: 100%;
}

/* ------------------------------- */

.box_03 { 
  width: 600px; height: 600px;
  margin:auto;
  background-color: #95d6a4;
  border-width: 10px;
  border-style: solid;
  border-color: #95d6a4;
}

.box_03 > div {
  margin: auto;
  width: 200px; height: 50%;
}

/* ------------------------------- */

.box_04 {
  width: 600px; height: auto; min-height: 200px;
  margin:auto;
  background-color: #95d6a4;
  border-width: 10px;
  border-style: solid;
  border-color: #95d6a4;
}

.box_04 > div {
  width: 100%; height: 200px; 
  }

.box_04 .insert {height: 200px;}
.inner_01 .insert { width: 60%; margin:auto; background-color: #ffcf5d; }
.inner_02 .insert { width: 45%; margin:auto; background-color: #db5446; }
.inner_03 .insert { width: 60%; background-color: #7e94ff; }


/* ------------------------------- */

.box_05 {
  width: 600px; height: auto;
  margin:auto;
  background-color: #95d6a4;
  border-width: 10px;
  border-style: solid;
  border-color: #95d6a4;
  
}

.box_05 > div {
  float:left; 
  width: 200px; height: 600px; 
}

.insert1 { width: 100%; height: 200px; margin-top: auto; background-color: #ffcf5d; }
.insert2 { width: 100%; height: 200px; margin-top: 200px; background-color: #db5446; }
.insert3 { width: 100%; height: 200px; margin-top: 400px; background-color: #7e94ff; }


/* ------------------------------- */

.box_06 {
  width: 600px; height: auto; min-height: 200px;
  margin:auto;
  background-color: #95d6a4;
  border-width: 10px;
  border-style: solid;
  border-color: #95d6a4;
  
}

.box_06 > div {
  width: 100%; height: auto; 
}

.inner_01 .insert_01 {
  float:left; width: 230px; height: 200px; background-color: #ffcf5d;}
.inner_01 .insert_02 {
  float:right; width: 230px; height: 200px; background-color: #fff9eb;}


.inner_02 .insert_01 {
  float: left; width: 230px; height: 200px; background-color: #db5446;}
.inner_02 .insert_02 {
  float: left; width: 140px; height: 200px; background-color: #6c7a88;}
.inner_02 .insert_03 {
  float: left; width: 230px; height: 200px; background-color: #c79a83;}


.inner_03 .insert_01 {
  float: left; width: 370px; height: 200px; background-color: #7e94ff;}
.inner_03 .insert_02 {
  float: left; width: 230px; height: 200px; background-color: #6c7a88;}


.clearfix{height: auto;}
.clearfix:after,
.clearfix::after {
  content:""; display: block;
  width:100%; height: 0%; clear:both;
}